#entry-option {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    margin-top: 5%;
}

#entry-form {
    margin-top: 10%;
}

.entry-fields {
    margin-bottom: 1.2rem;
}