@mixin icon($url, $size: 2rem) {
  width: $size;
  height: $size;
  background-image: url($url);
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

@mixin fixedWidth($value) {
  min-width: $value;
  max-width: $value;
}

@mixin featureBackground($imgName) {
  background-image: url("@/assets/img/"+$imgName);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}