@use '../abstracts/variables.scss' as *;

.link-button {
    padding: 0.5rem;
    border-radius: 1rem;
    color: $white1;
    cursor: pointer;
    transition: all 500ms;

    &:hover {
        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.6);
        color: $gold;
    }
}

.option-button {
    @extend .link-button;
    width: fit-content;
    font-size: x-large;

    &:hover {
        color: $pink;
    }

    &.selected {
        box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.6);
        color: $pink;
    }
}