@use '../abstracts/mixins.scss' as *;
@use '../abstracts/variables.scss' as *;

#nav-bar {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    min-height: max-content;
    @include fixedWidth(6.5rem);
    padding-top: 1rem;
    border-right: 0.1rem solid $white1;
}

#nav-icon {
    @include icon('@/assets/img/white-list-icon.png');
    cursor: pointer;
}

.nav-options {
    margin-top: 50%;
    
    font-size: smaller;
}
